/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of JSW's custom css */
/* :root to set custom css variables for use in the code later */
/* I always establish a color scheme and grab at least 5, and up to 9 color RGB codes for use as variables for quick use */
:root {
    --color01: rgba(48, 48, 54);
    --color02: rgba(58, 88, 103);
    --color03: rgb(75, 193, 240);
    --color04: rgb(158, 70, 154);
    --color05: rgb(121, 219, 55);
    --color06: rgb(41, 136, 3);
    --color07: rgb(240, 224, 1);    
    --color08: rgb(196, 4, 30);
    --color09: rgb(129, 7, 7);
}

/* Body style */
body {
    background-image: url("../img/crumpled.png");
    height: auto;
}

/* Navbar style */
.navbar-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; 
    width: auto;
}

.navbar {
    padding: 2vh;
    background-color: var(--color09);
    overflow: hidden;
}

.navlinks {
    justify-self: center;
}
    
.navlinks.grow {
    transition: all 0.2s ease-in-out; 
}

.navlinks a:link, a:visited {
    background-color: var(--color06);
    color: var(--color01);
    cursor: pointer;
    border-radius: 50%;
    font-size: small;
    padding: .5%;
    margin: 1px 2px; 
    text-align: center;
    text-decoration: none; 
    display:inline;   
}

.navlinks a:hover {
    transform: scale(1.1);
}

/* Project container style */
.project-container {
    margin: 10%;   
    background-size: 100% 100%;
    height: auto;
    padding: 2%;
    border-radius: 5%;
}

/* Week 03 project special style */
.wk03Container {
    padding: 2%;
    text-align: center;
    background-color: var(--color05);
    height: 60vh;
    width: 60vw;
    align-content: center;
    margin: auto; 
    width: 50%;
    border: 1% var(--color07);
    border-radius: 5%;    
}

.wk03Container h1 {
    font-size: 45px;
}

/* CSS Combinator selectors */
.wk03Container > p {
    color: var(--color09);
    height: auto;
}

.wk03float-container {
    background-color: var(--color02);
    margin-top: 2%;
    display: flex;
    flex-basis: auto;
    padding: 5%;
}

.imgFloat-left {
    float: left;
    clear: both;
}

.imgFloat-right {
    float: right;
    clear: both;
}

.cssBox-container {
    margin: 20px; 
}

.cssBox-content {
    background-color: var(--color06);
    background-clip: content-box;
    width: 60%;
    height: 40vh;
    align-content: center;
    margin: auto;  
    padding: 20px; 
    border: 15px dashed var(--color08);
    outline: 20px solid var(--color03);
}

& p {
    padding: 2%;
    text-align: start;
    color: var(--color02);
}

.project-container {
    background-color: var(--color05);
    padding-left: 25%;
    padding-bottom: 3%;
}

.project-container li {
    background-color: var(--color02);
    border-radius: 15px;
    color: var(--color07);
    font-size: larger;
    margin: 1%;
    padding: 1%;
    padding-left: 3%;
    width: 52%;
}

/* Footer Style */
footer {
    background-color: var(--color04);
    color: var(--color07);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
