/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of JSW's custom css */
/* :root to set custom css variables for use in the code later */
/* I always establish a color scheme and grab at least 5, and up to 9 color RGB codes for use as variables for quick use */
:root {
    --color01: rgba(67, 127, 151);
    --color02: rgba(58, 88, 103);
    --color03: rgba(48, 48, 54);
    --color04: rgba(90, 98, 45);
    --color05: rgba(132, 147, 36);
    --color06: rgba(194, 163, 26);
    --color07: rgba(255, 179, 15);
    --color08: rgba(246, 141, 12);
    --color09: rgba(236, 102, 8);
}

/* Body style */
body {
    background-image: url("../img/crumpled.png");
    height: auto;
}

/* Navbar style */
.navbar-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; 
    width: 100%;
}

.navbar {
    padding: 2vh;
    background-color: var(--color01);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.navlinks a {
    
}

.navlinks a.grow {
    transition: all 0.2s ease-in-out; 
}

.navlinks a:link, a:visited {
    background-color: var(--color03);
    color: var(--color07);
    cursor: pointer;
    border-radius: 50%;
    font-size: small;
    padding: .5%;
    margin: 1px 2px; 
    text-align: center;
    text-decoration: none; 
    display:inline;
    
}

.navlinks a:hover {
    transform: scale(1.1);
}

/* Project container style */
.project-container {
    margin: 10%; 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 5%), var(--color07 100%));  
    background-size: 100% 100%;
    height: auto;
}

/* Week 03 project special style */
.wk03Container {
    background-color: var(--color08);
    padding: 2%;
    text-align: center;
}

.project-container li {
    background-color: var(--color02);
    color: var(--color07);
    width: 52%;
}

/* Footer Style */
footer {
    background-color: var(--color04);
    color: var(--color07);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
